#products,
#pagenotfound {
  #main {
    .page-header {
      margin: rem(32px) 0 rem(48px);
    }
    .page-content {
      margin-bottom: rem(160px);
    }
  }
  .page-not-found {
    background: #FFFFFF;
    padding: 30px;
	border:1px solid $table-border-color;
    h4 {
      margin: 0 0 10px;
    }
    .search-widget {
      float: none;
      padding: 0;
	  width: 100%;
	  input {
        width: 100%;
      }
    }
  }
}
